@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

body, p, ul, ol {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    padding: 15px 0;
    height: 50px;
}

#sotto-logo {
    border-top: solid #ffdc85;
    background-color: #fffcec;
    width: 100%;
    display: flex;
    justify-content: center;
}

header div#sotto-logo div {
    padding: 15px 0;
    color: #107777;
    font-size: 15px;
}

header div#sotto-logo div span {
    font-weight: 700;
}

article {
    width: 650px;
    margin: 0 auto;
}

#titolo-and-foto {
    padding-bottom: 20px;
}

.x-h1 {
    width: 500px;
    margin: auto;
    padding-top: 30px;
}

#titolo {
    font-size: 29px;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    text-align: center;
}

.paragrafo {
    padding: 15px 0 10px 0;
}

/*
#img-focaccia {
    width: 650px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 0px lightblue;
}
*/

#video-yt {
    width: 650px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 0px lightblue;
}

#Sally-Vegas {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 200;
    padding: 15px 0;
}

#img-and-didascalia {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#feat {
    border-left: 1px solid orange;
    padding-left: 13px;
    margin-top: 5px;
}

div#feat p span {
    color: #ff6f23;
    font-weight: 600;
}

.mid-tit {
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid lightblue;
}

.small-tit {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    padding: 20px 0 15px 0;
}

ol {
    padding-top: 25px;
}

li {
    padding: 5px;
}

#make-focaccia {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}

#mk-fc-ph {
    padding-block: 10px;
}

#read-more {
    padding-block: 10px;
}